<div class="hero">
  <br/>
  <div class="frosty col-10 offset-1 text-center">
    <h1> Welcome to my newest app </h1>
    <br/>
    <h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia diam metus, vitae euismod odio varius eu. </h2>
    <br/>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Courses</h3>
    <br/>
    <p>Some courses to choose from. </p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn at Your Own Pace</h3>
    <br/>
    <p> No penalty if you need a little more time on a subject. </p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br/>
    <p> Learn with other students like yourself! </p>
  </div>
</div>